<div class="login-box Login-formContainer">

  <div class="login-box-body">
    <div class="login-logo">
      <a ui-sref="login"><img src="img/logo-rect.png" alt=""></a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3 translate>page_login.log_in</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <login-form></login-form>
      </div>
    </div>
  </div>
  <div class="text-center wiicod">
    &copy; <a href="http://www.inteligyware.com"> Inteligyware</a>
  </div>
</div>
