/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage/logs
storage/app/img/

/bower_components

public/storage
public/views
public/js
public/fonts
public/css
public/build
public/locales
_ide_helper.php
