
$brand: #00A4C6;
$black: #535362;
$grey: #888888;
$navy: #21455B;
$border: #E9F0F3;
$background: #F6F9FA;


$slim_black : #000000;
$slim_black_2 : #4d4d4d;

$slim_gold:#3c8dbc ;//997f51; //debc6e

$slim_white:#fefefe;

$slim_red: #3c8dbc;

//$slim_primary : #000000;

$slim_text_color:#3c8dbc ;//997f51; //debc6e

//$slim_text_color_2: #e30101;

// CO

$color_1:#9A9B9F;
$color_2:#3c8dbc;
$color_3: #d2d6de;
$primary: #3c8dbc;
$success: #3c763d;
$danger: #bc3438;
//$primary-dark: #367fa9;
$primary-dark: darken( $primary, 10% );
$primary-light: lighten( $primary, 10% );
$color_4:#ffffff;
/*
lighten( $base-color, 10% )
saturate( $base-color, 20% )
desaturate( $base-color, 20% )
 */